@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}
main {
  padding: 32px;
  overflow-x: hidden;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 30px;
}

.container {
  margin-left: 474px;
  margin-right: 474px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-purple {
  color: rgb(100, 21, 225);
}

button {
  cursor: pointer;
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(4000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
#header {
  animation: move-left 650ms 1000ms;
}

#features {
  animation: move-left 650ms 1400ms;
}

#quality {
  animation: move-left 650ms 1800ms;
}

#steps {
  animation: move-left 650ms 2200ms;
}

#values {
  animation: move-left 650ms 2400ms;
}

#pricing {
  animation: move-left 650ms 2800ms;
}

#Testimonials {
  animation: move-left 650ms 3200ms;
}

.links__box {
  animation: move-left 650ms 3600ms;
}

/* 

Navigation

*/
.nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}
nav {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__logo--title {
  font-size: 24px;
}

.nav__logo--link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
}

.nav__link {
  margin: 0 24px;
  padding: 4px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.nav__link--purple {
  background-color: #6415ff;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.btn__menu {
  background-color: transparent;
  font-size: 50px;
  text-align: center;
  color: #1a202c;
  display: none;
}
.menu__backdrop {
  position: absolute;
  background-color: #f7fafc;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  margin: 16px;
  z-index: 12;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  visibility: hidden;
  transition: all 500ms ease;
  transform: translateX(3000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  border: none;
  color: #1a202c;
}

.menu--open .menu__backdrop {
  visibility: visible;
  transform: translateX(0);
}

.nav__links--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__link--purple:hover {
  background-color: #4d13c0;
}

/* 

Header

 */

.header__container {
  display: flex;
}
.header__description {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header__description--title {
  font-size: 36px;
  text-align: left;
}
.header__description--para {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 18px;
  color: #243e63;
}

.header__img {
  width: 60%;
  max-width: 32rem;
}

.header__input--wrapper {
  position: relative;
  max-width: 420px;
  display: flex;
  align-items: center;
}

.header__input--email {
  border-radius: 100px;
  font-size: 16px;
  padding-left: 32px;
  padding: 20px;
  border: solid 2px lightgrey;
  width: 100%;
}
.header__input--email::placeholder {
  color: #a0aec0;
}
.header__input--btn {
  font-size: 18px;
  background-color: #6415ff;
  color: white;
  border: none;
  font-weight: bold;
  padding: 14px 0px;
  margin: 8px 8px 8px 0px;
  width: 150px;
  border-radius: 9999px;
  position: absolute;
  right: 0px;
  transition: all 300ms ease;
}

.header__input--btn:hover {
  background-color: #4d13c0;
}

.header__news--title {
  font-size: 12px;
  color: #a0aec0;
}
.header__news--wrapper {
  margin-top: 2rem;
}
.header__news--img {
  margin-top: 1rem;
  width: 100%;
  padding-right: 4rem;
  opacity: 0.5;
}

/*

Features 

*/

.features__section--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features__description--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description--header {
  text-align: center;
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 0.1em;
}

.description--title {
  font-size: 48px;
  font-weight: 900;
}

.features__description--para {
  text-align: center;
  color: #243e63;
  max-width: 500px;
  margin: 16px 0px 40px 0px;
}

.features__section {
  display: flex;
  width: calc(100% / 3);
  align-items: flex-start;
  padding: 32px 24px;
}

.features__section--title {
  font-size: 24px;
  margin-bottom: 18px;
}
.features__section--description {
  display: flex;
  flex-direction: column;
}

.features__img--wrapper {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
  padding: 20px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__img {
  width: 24px;
  height: 24px;
  padding: 0px;
}

/* 

Steps 

*/

.steps__container {
  display: flex;
}

.steps__description--container,
.steps__img--wrapper {
  width: 50%;
}

.steps__description--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 48px;
}
.steps__img {
  width: 100%;
  margin-top: 100px;
}

.steps__title {
  text-align: left;
}

.steps__subtitle {
  width: 100%;
}

.steps__text--wrapper {
  display: flex;
  margin-top: 32px;
  padding-right: 250px;
  width: 600px;
}

.steps__number--wrapper {
  margin: 0px 20px 0px 0px;
  display: flex;
  align-items: flex-start;
}

.steps__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.steps__text {
  margin-top: 25px;
}

.step__text--para {
  margin-top: 12px;
  color: #7c8ba1;
  font-size: 14px;
  text-align: left;
}

/* 

Quality

 */

.quality__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality__text--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 64px;
}

.quality__title,
.quality__header {
  text-align: left;
}

.quality__title {
  margin-top: 16px;
}
.quality__description--para {
  margin-top: 16px;
  color: #7c8ba1;
  font-size: 18px;
}
.purple__btn {
  font-size: 12px;
  background-color: #6415ff;
  color: white;
  border: none;
  font-weight: bold;
  padding: 12px 32px;
  margin-top: 32px;
  width: 150px;
  border-radius: 9999px;
  transition: all 300ms ease;
}
.purple__btn:hover {
  background-color: #4d13c0;
}

.quality__img-wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
}

/* 
 
 Values 
 
 */

.values__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.values__description--container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 64px;
}

.values__para {
  margin-top: 20px;
}

.values__title,
.values--para,
.values__header {
  text-align: left;
}

.values__img--container,
.values__description--container {
  width: 50%;
}

.values__img {
  width: 100%;
}

.values__icon--img {
  color: #276749;
  background-color: #9ae6b4;
  width: 20px;
  height: 20px;
}

.values__icon--wrapper {
  padding: 8px;
  background-color: #9ae6b4;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.values__icon--top {
  display: flex;
  align-items: center;
}

.values__icon--para {
  text-align: left;
  color: #718096;
  font-size: 16px;
}

.values__para {
  color: #7c8ba1;
  font-size: 18px;
}

.value__top {
  display: flex;
  align-items: center;
}

.value__icon--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 32px;
}

.values__icons--container {
  display: flex;
  margin-top: 20px;
}

.values__icon--para {
  margin-top: 16px;
}

/*

Pricing 

*/

.pricing__description--container {
  display: flex;
  flex-direction: column;
}

.pricing__description--para {
  margin: 16px 210px 0px 210px;
  text-align: center;
  color: #7c8ba1;
  font-size: 18px;
}
.pricing__plans--container {
  display: flex;
  margin-top: 40px;
}

.pricing--title {
  text-align: center;
}
.pricing__plan {
  margin-right: 30px;
  width: calc(100% / 3);
  border: 1px solid rgba(199, 217, 223, 0.23);
  border-radius: 5px;
  border-top: 5px solid rgb(97, 218, 218);
}

.pricing__plan--1 {
  margin: 0px 30px;
  width: calc(100% / 3);
  border: 1px solid rgba(199, 217, 223, 0.23);
  border-radius: 5px;
  border-top: 5px solid rgb(97, 218, 218);
}

.pricing__plan--top,
.pricing__plan--middle,
.pricing__plan--bottom {
  display: flex;
  flex-direction: column;
  padding: 28px;
}

.pricing__plan--header {
  text-align: center;
  font-size: 20px;
  margin-top: 12px;
}
.pricing__plan--number {
  font-weight: 700;
  font-size: 48px;
  color: #1a202c;
  text-align: center;
  margin-top: 2px;
}

.pricing__plan--date {
  color: #a0aec0;
  font-size: 16px;
  text-align: center;
}

.pricing__plan--middle {
  border: 1px solid rgba(199, 217, 223, 0.23);
}

.pricing__plan--target {
  color: #1a202c;
  font-size: 20px;
  text-align: center;
}

.pricing__plan--features {
  text-align: center;
  color: #718096;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

.pricing__plan--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__plan--btn {
  padding: 16px 32px;
  border-radius: 9999px;
  margin: 2px 0px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border: none;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transition: all 300ms ease;
  box-shadow: none;
}

.pricing__plan--btn:hover {
  box-shadow: 0px 12px 36px rgb(0 0 0 / 15%);
}

/* 

Testimonials

 */

.testimonials__container {
  display: flex;
}

.testimonials__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.testimonials__img {
  width: 100%;
}
.testimonials__text--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 60px;
}

.testimonials__header,
.testimonials__title,
.testimonials__description--para {
  text-align: left;
}

.testimonials__description--para {
  color: #718096;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.testimonials__title {
  margin-bottom: 16px;
}

.testimonials__slider--title {
  font-size: 20px;
  color: rgb(36, 62, 99);
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 10px;
}
.testimonials__slider--para {
  font-size: 16px;
  color: #4a5568;
  font-weight: 500;
  margin-bottom: 20px;
}

.testimonials__profile--description {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 400;
}

.testimonials__slider--bottom {
  display: flex;
  margin-top: 40px;
}
.testimonials__profile--img {
  width: 80px;
  border: none;
  border-radius: 9999px;
}

.testimonials__text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
}

.testimonial__star--img {
  width: 20px;
  fill: gold;
}

/* 

Links Box

 */

.links__box--container {
  border: none;
  background-color: #6415ff;
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.links__box--blob-top,
.links__box--blob-bottom {
  z-index: 1;
  position: absolute;
  width: 280px;
  color: rgb(80, 17, 204);
  opacity: 0.5;
}
.links__box--blob-bottom {
  left: -60px;
  bottom: -100px;
}

.links__box--blob-top {
  right: -60px;
  top: -220px;
}

.links__box--title {
  color: white;
  text-align: left;
  font-size: 30px;
  width: 50%;
}

.links__box--btn-container {
  width: 50%;
  margin-left: 90px;
}
.links__box--text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin: 0px 140px 0px 160px;
}

/* 

Footer

 */

.footer {
  width: 100%;
}

.footer__row {
  margin: 0 auto;
  padding: 96px 36px;
}

.links__box--btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links__box--button2 {
  padding: 20px 35px;
  font-size: 16px;
  font-weight: 800;
  color: #f7fafc;
  margin-right: 26px;
  background-color: #6415ff;
  border: 1px solid white;
  border-radius: 100px;
  width: 185px;
}

.links__box--button1 {
  padding: 20px 35px;
  font-size: 16px;
  font-weight: 800;
  color: #f7fafc;
  margin-right: 26px;
  background-color: #f56565;
  border: none;
  border-radius: 9999px;
  margin-right: 30px;
  width: 185px;
}

footer {
  background-color: #6415ff;
  height: 100%;
}

.footer__links--title {
  color: white;
  margin-bottom: 20px;
  font-weight: ;
}
.footer__link {
  text-decoration: none;
  color: white;
  margin-bottom: 16px;
  font-weight: 600;
}

.footer__links--container {
  display: flex;
  flex-direction: column;
}
.footer__links--container-last {
  display: flex;
  flex-direction: column;
}

.footer__top--container {
  display: flex;
  justify-content: space-between;
}

.footer__bottom--container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  border-top: 1px solid rgba(211, 211, 211, 0.267);
}

.footer__logo--img {
  width: 32px;
}
.footer__logo--wrapper {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo--name {
  color: #f7fafc;
  font-weight: 800;
  margin-left: 8px;
}

.footer__copyright {
  margin-top: 60px;
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 600;
  margin-left: 100px;
}

.footer__socials--container {
  margin-top: 60px;
}

.footer__social--img {
  width: 32px;
  fill: black;
  padding: 7px;
  border: 1px solid white;
  border-radius: 100%;
  margin-left: 10px;
  background-color: white;
}

@media (max-width: 1024px) {
  .nav__list,
  .nav__list--purple {
    margin-top: 30px;
  }
  .nav__link {
    font-size: 18px;
  }

  .btn__menu {
    display: inline;
  }

  .nav__links {
    display: none;
  }

  .header__container {
    max-width: 512px;
    margin: 0 auto;
  }
  .header__description--title {
    text-align: center;
    font-size: 30px;
  }
  .header__description {
    width: 100%;
    align-items: center;
  }
  .header__img {
    width: 100%;
  }

  .header__description--para {
    text-align: center;
    font-size: 16px;
  }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__news--title {
    text-align: center;
  }

  .header__input--wrapper {
    width: 100%;
  }

  .description--header {
    font-size: 16px;
  }

  .description--title {
    font-size: 36px;
  }

  .pricing__plans--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__plan--1,
  .pricing__plan {
    margin: 30px 0px;
    width: 100%;
    max-width: 380px;
  }

  .links__box--text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .links__box--title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .links__box--btn-container {
    margin-top: 24px;
    width: 100%;
    margin: 0 auto;
  }
  .footer__links--title {
    font-size: 16px;
  }
  .footer__link {
    font-size: 14px;
  }

  .values__icons--container {
    display: flex;
    flex-direction: column;
  }

  .value__icon--container {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .values__icon--para {
    width: 100%;
  }
}

@media (max-width: 752px) {
  .header__input--btn {
    position: static;
    padding: 14px;
    margin: 16px 0;
    width: 100%;
  }

  .header__input--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .description--title {
    font-size: 30px;
  }
  .features__description--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features__description--para {
    font-size: 14px;
  }

  .description--header,
  .description--title {
    text-align: center;
  }
  .features__section {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }

  .quality__container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .quality__description--para {
    text-align: center;
    font-size: 14px;
  }

  .quality__title {
    width: 100%;
  }

  .quality__img--wrapper {
    margin-bottom: 32px;
  }

  .quality__text--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .values__para {
    font-size: 14px;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 448px;
    text-align: center;
  }
  .steps__img--wrapper {
    margin-bottom: 40px;
  }
  .steps__img--wrapper,
  .steps__description--container {
    width: 100%;
  }

  .steps__description--container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .steps__text--wrapper {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step__text--subtitle {
    text-align: center;
    margin-top: 16px;
  }

  .step__text--para {
    text-align: center;
    width: 100%;
    max-width: 260px;
    font-size: 14px;
  }

  .steps__title {
    text-align: center;
  }

  .pricing__description--para {
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
  }

  .pricing--title {
    margin-bottom: 16px;
  }

  .testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonials__img--wrapper,
  .testimonials__text--container {
    width: 100%;
  }
  .testimonials__stars--wrapper {
    text-align: center;
  }
  .testimonials__slider--title {
    text-align: center;
  }

  .steps__number--wrapper {
    margin-left: 20px;
  }

  .values__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .values__header {
    margin: 24px 0;
  }

  .values__description--container,
  .values__img--container {
    width: 100%;
    margin: 0 auto;
  }
  .values__para {
    text-align: center;
  }

  .values__title {
    width: 100%;
  }

  .value__icon--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .values__icon--para {
    width: 100%;
    text-align: center;
  }

  .values__description--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__img--wrapper {
    margin-bottom: 64px;
  }

  .testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__text--container {
    margin: 0 auto;
  }

  .testimonials__description--para {
    font-size: 14px;
    text-align: center;
    margin-bottom: 64px;
  }

  .testimonials__slider--para {
    text-align: center;
  }

  .testimonials__slider--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links__box--title {
    font-size: 24px;
  }

  .links__box--button1,
  .links__box--button2 {
    font-size: 14px;
  }

  .links__box--btn-container {
    display: flex;
    flex-direction: column;
  }

  .links__box--button1 {
    margin: 0 0 12px 0;
  }

  .links__box--button2 {
    margin: 0;
  }

  .links__box--text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
  }

  .links__box--container {
    height: 460px;
  }

  .footer__bottom--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright {
    margin: 28px auto;
  }

  .footer__socials--container {
    margin: 0 auto;
  }

  .footer__top--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .footer__links--container,
  .footer__links--container-last {
    width: calc(100% / 3);
  }

  .footer__links--container,
  .footer__links--container-last {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__links--container {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .footer__links--container,
  .footer__links--container-last {
    width: calc(100% / 2);
  }
}

.footer__copyright {
  text-align: center;
}

@media (max-width: 237px) {
  .footer__links--container,
  .footer__links--container-last {
    width: 100%;
  }
}
